*{
    transition:0.3s;
}

button:hover{
    background:#01284e;
}

.back-login{
    text-align:center;
    margin-top:20px;
}

.back-login a{
    color:#013f7c;
    text-decoration:none;
    font-weight:500;
}

.back-login a:hover{
    text-decoration:underline;
}

@media (max-width:768px){

    .forgot-box{
        padding:30px 20px;
    }

    .forgot-box h2{
        font-size:1.7rem;
    }
}

@media (max-width:480px){

    body{
        padding:15px;
    }

    .forgot-box{
        padding:25px 15px;
    }

    .forgot-box h2{
        font-size:1.5rem;
    }

    .forgot-box p{
        font-size:13px;
    }

    .input-group input{
        height:45px;
        font-size:15px;
    }

    button{
        height:45px;
        font-size:16px;
    }
}